#root {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 100 vw;
    margin: 0 auto;
    padding: 0px;
  }

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
}

